@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
    .header {
        border-radius: 5px;
    }
    h1 {
        background-size: 100%;
        text-align: center;
        font-size: 50px;
    }
    #feiten {
        box-sizing: border-box;
        background-color: black;
        width: 400px;
    }
    .feiten {
        margin: 2%;
    }
    article {
        width: 400px;
    }
    .footer {
        font-size: small;
        width: min-content;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #00FF99;
}
.header {
    box-sizing: border-box;
    border-radius: 10px;    
} 
h1 {
    background-image: url(../img/SkylineDenHaag1.jpg);
    background-size: contain;
    text-align: left;
    font-size: xx-large;
    color: white;
    text-shadow: 3px 4px 2px black;
    padding: 15px;
} 
img {
    float: right;
    border-radius: 15px;
    padding: 5px;
    filter: drop-shadow(8px 9px 9px red);
    max-width: 50%;
}
.vredespaleis {
    box-sizing: border-box;
    background-color: #FFFFCC;
    padding: 0;
    margin: 0;
    font-size: x-large;
    border-radius: 5px;
}
.paleis {
    box-sizing: border-box;
    background-color: #FFFFCC;
    padding: 0;
    margin: 0;
    font-size: x-large;
    border-radius: 5px;
}
article {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 1em;
    background-color: #FFFFCC;
    margin-bottom: 5px;
}
#feiten {
    background-color: black;
    min-width: fit-content;
    box-sizing: border-box;
}
.feiten {
    box-sizing: border-box;
    background-color: #FFFFCC;
    padding: 1em;
    margin: 0;   
    box-shadow: inset 5px 4px 5px black;
}
.feiten:hover {
    background-color: #FFFF33;
}
h3 {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 1em;    
}
h3:hover {
    background-color: blue;
    color: black;
}
strong {
    font-size: x-large;
}
.footer {
    box-sizing: border-box;
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: larger;
    height: 1.6rem;         
}


